<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-offset-1 col-md-10">
    <section class="user_info">
      <h1>
        Student <%= @user.name %>
      </h1>
      <table class="table table-striped table-inverse center">
        <thead>
          <tr>
            <th class="text-center">__DO__</th>
            <th class="text-center">__DONE__</th>
          </tr>
        </thead>
        <tbody>
          <% 
            counter = []
            counter << @user_do.count
            counter << @user_done.count
            i = 0
          %>
  
          <% (counter.max).times do %>
          <tr>
            <td>
              <%= link_to @user_do[i].name,\
               edit_user_user_task_url(@user, @user_do[i].id)\
               unless @user_do[i].nil?%>
            </td>
            <td>
              <%= link_to @user_done[i].name,\
               edit_user_user_task_url(@user, @user_done[i].id)\
               unless @user_done[i].nil? %>
            </td>
          </tr>
          <% i += 1 %>
          <% end %>
                
        </tbody>
      </table>
    </section>
  </aside>
</div>